@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to sunflowerthomas's demo website made with ASP.NET Core!</p>
    <p>The date and time is @DateTime.Now</p>
</div>
