@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We collect no data from you unless the web server that we use collect IP addresses in its logs, then we do collect data.</p><br>
<p>We do not use cookies.</p><br>
<p>This page is correct as of @DateTime.Today.ToString("d")</p>
